{% extends "layout_unbranded.html" %} {% block pageTitle %} GOV.UK Prototype Kit {% endblock %} {% block beforeContent %}  {% endblock %} {% block content %}



<div class="govuk-width-container">

    <main class="govuk-main-wrapper">
                <a class="govuk-back-link" href="javascript:history.back()">Back</a>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Users</h1>
                <a href ="add_user" role=button class="govuk-button" data-module="govuk-button">
                    Add user
                </a>
            </div>
        </div>
<nav class="alphabet"><a href="">A</a>     <a href="">B</a>     <a href="">C</a>     <a href="">D</a>     <a href="">E</a>     
<a href="">F</a>     <a href="">G</a>     <a href="">H</a>     <a href="">I</a>     <a href="">J</a>
<a href="">K</a>     <a href="">L</a>     <a href="">M</a>     <a href="">N</a>     <a href="">O</a>
<a href="">P</a>     <a href="">Q</a>     <a href="">R</a>     <a href="">S</a>     <a href="">T</a>
<a href="">U</a>     <a href="">V</a>     <a href="">W</a>     <a href="">X</a>     <a href="">Y</a>     <a href="">Z</a></nav>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
            <table class="govuk-table">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">User's name and email</th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
                        <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">John Doe
                            <span class="govuk-hint">John.doe@gmail.com</span>
                        </th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <a href=""></a>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                             <a href="manage_user">Manage user</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Mike Smith
                            <span class="govuk-hint">mike.smith@gmail.com</span>
                        </th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <a href="">   </a>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                             <a href="manage_user">Manage user</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Sally Jones
                            <span class="govuk-hint">sally.jones@gmail.com</span>
                        </th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <a href="">   </a>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                             <a href="manage_user">Manage user</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">John Doe
                            <span class="govuk-hint">John.doe@gmail.com</span>
                        </th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <a href="">   </a>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                             <a href="manage_user">Manage user</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Mike Smith
                            <span class="govuk-hint">mike.smith@gmail.com</span>
                        </th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <a href="">   </a>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                             <a href="manage_user">Manage user</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Sally Jones
                            <span class="govuk-hint">sally.jones@gmail.com</span>
                        </th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <a href="">   </a>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                             <a href="manage_user">Manage user</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">John Doe
                            <span class="govuk-hint">John.doe@gmail.com</span>
                        </th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <a href="">   </a>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                             <a href="manage_user">Manage user</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Mike Smith
                            <span class="govuk-hint">mike.smith@gmail.com</span>
                        </th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <a href="">   </a>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                             <a href="manage_user">Manage user</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Sally Jones
                            <span class="govuk-hint">sally.jones@gmail.com</span>
                        </th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <a href="">   </a>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                             <a href="manage_user">Manage user</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">John Doe
                            <span class="govuk-hint">John.doe@gmail.com</span>
                        </th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <a href="">   </a>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                             <a href="manage_user">Manage user</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Mike Smith
                            <span class="govuk-hint">mike.smith@gmail.com</span>
                        </th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <a href="">   </a>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                             <a href="manage_user">Manage user</a>
                        </td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th scope="row" class="govuk-table__header">Sally Jones
                            <span class="govuk-hint">sally.jones@gmail.com</span>
                        </th>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                            <a href="">   </a>
                        </td>
                        <td class="govuk-table__cell govuk-table__cell--numeric">
                             <a href="manage_user">Manage user</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>

            <div class="govuk-grid-column-one-third">
                <h2 class="govuk-heading-m">Search</h2>
                <div class="govuk-form-group">
                    <label class="govuk-label" for="width-20">
                
                    </label>
                    <input class="govuk-input govuk-input--width-20" id="width-20" name="width-20" type="text">
                    <br>
                    <br>
                
                    <fieldset class="govuk-fieldset">
                        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                            <h1 class="govuk-fieldset__heading">
                                Filter
                            </h1>
                        </legend>
                        <div class="govuk-radios govuk-radios--small">
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="month">
                                <label class="govuk-label govuk-radios__label" for="changed-name">
                                    Role (3,400)
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                    Responsibility (2000)
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                    Staff ID (4,000)
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input class="govuk-radios__input" id="changed-name-2" name="changed-name" type="radio" value="year">
                                <label class="govuk-label govuk-radios__label" for="changed-name-2">
                                    Name (4,000)
                                </label>
                
                            </div>
                    </fieldset>

            </div>
        </div>

    </main>
</div>









    </main>
</div>
 

{% endblock %}