
{% extends "layout.html" %}

{% block pageTitle %}
  
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
User and application management      <span class="govuk-caption-xl">Mock up screens October 2019</span>
      </h1>
    

    


      <h2 class="govuk-heading-m">Examples</h2>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="dashboard/dashboard">Dashboard</a></li>
        <li><a href="people/people_management.html">People management screen</a></li>
        <li>
          <a href="applications/apps_management.html">
            Application management screen
          </a>
        </li>
      </ul>
    </div>
</div>

{% endblock %}
